<%
// Creates a list of the subpages of the current page,(or the page given in the parameter),
// with their summaries, as a definition list. Doesn't do any additional formatting.
//
// Parameters:
//
//  $0  The slug of a page to use as the root, if you don't want to use the current page

function pageSorter(a, b) {
    return a.title.localeCompare(b.title);
}

var html = "";

const target = $0? await wiki.getPage(`/${env.locale}/docs/${$0}`): page;
const termList = await target.subpages;

var numTerms = termList.length;

if (numTerms) {
    // Alphabetize the list
    termList.sort(pageSorter);

    html += "<dl>";

    for (var i=0; i<numTerms; i++) {
        var aPage = termList[i];

        if (aPage.title != "Index") {
            var title = aPage.title;
            var summary = aPage.summary().replace(/<img[^>]*>/g," ");
            var url = aPage.url;

            html += "<dt class='landingPageList'><a href='" + url + "'>" + title + "</a></dt><dd class='landingPageList'><p>" + summary + "</p></dd>";
        }
    }

    html += "</dl>";
}
%>
<%-html%>
